{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ vite_entry_link_tags('styles') }}
{% endblock %}

{% block body %}
    <div id="game"></div>
{% endblock %}

{% block javascripts %}
    <script>
        if (!Object.groupBy) {

            Object.groupBy = function (collection, getGroup) {

                return Array.prototype.reduce.call(collection, function (grouped, item, index) {

                    var group = getGroup(item, index);

                    if (!grouped[group]) {
                        grouped[group] = [];
                    }

                    grouped[group].push(item);

                    return grouped;

                }, Object.create(null));

            };

        }

        if (!Object.hasOwn) {

            Object.hasOwn = function (object, property) {
                return Object.prototype.hasOwnProperty.call(object, property);
            };

        }
    </script>
    {#
    <script>
        var PG = {
            i18n: {},
            infoTokens: [],
            roles: [],
            scripts: {},
        };
        // var URLS = Object.freeze({
        //     // TODO: url() for various lookups.
        // });
    </script>
    #}
    {{ vite_entry_script_tags('data/en_GB') }}
    {{ vite_entry_script_tags('main') }}
{% endblock %}
