@use '../base/functions' as func;

/**
 * The Centre object aligns itself into the centre.
 */

@property --o-centre-max-size { syntax: '<length>'; initial-value: #{func.get-pixels-unit(65ch)}; inherits: true; }
@property --o-centre-padding { syntax: '<length-percentage>'; initial-value: #{func.get-sizing-pixels-unit('base-sizing')}; inherits: true; }

.o-centre,
%o-centre {
	--o-centre-max-size: 65ch;
	--o-centre-padding: var(--base-sizing);

	box-sizing: content-box;
	max-inline-size: var(--o-centre-max-size);
	margin-inline: auto;
	padding-inline: var(--o-centre-padding);
}

/**
 * Centres the contents of container it's assigned to.
 * This can be combined with the class above.
 */

.o-centre-contents,
%o-centre-contents {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
