@use '../base/functions' as func;

@property --o-cluster-gap { syntax: '<length>'; initial-value: #{func.get-sizing-pixels-unit('md')}; inherits: true; }

.o-cluster,
%o-cluster {
	--o-cluster-gap: var(--sizing-md);

	display: flex;
	flex-wrap: wrap;
	gap: var(--o-cluster-gap);
}
