@font-face {
    font-family: "Goudy Mediaeval";
    src:
        url("/assets/fonts/Goudy-Mediaeval-Regular.woff2") format("woff2"),
        url("/assets/fonts/Goudy-Mediaeval-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Vinque";
    src:
        url("/assets/fonts/Vinque.woff2") format("woff2"),
        url("/assets/fonts/Vinque.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Noto Serif Simplified Chinese";
    src:
        url("/assets/fonts/NotoSerifSC-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Noto Serif Traditional Chinese";
    src:
        url("/assets/fonts/NotoSerifTC-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Noto Serif Japanese";
    src:
        url("/assets/fonts/NotoSerifJP-Regular.woff2") format("woff2"),
        url("/assets/fonts/NotoSerifJP-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Sarabun Thai";
    src:
        url("/assets/fonts/SarabunThai-Regular.woff2") format("woff2"),
        url("/assets/fonts/SarabunThai-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Noto Serif Thai";
    src:
        url("/assets/fonts/NotoSerifThai-Regular.woff2") format("woff2"),
        url("/assets/fonts/NotoSerifThai-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Noto Serif Korean";
    src:
        url("/assets/fonts/NotoSerifKR-VariableFont_wght.woff2") format("woff2"),
        url("/assets/fonts/NotoSerifKR-VariableFont_wght.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
