.dialog {
    width: min(80vw, 30em);
    max-height: 80vh;
    background-color: #666;

    &::backdrop {
        background-image: radial-gradient(
            circle at center,
            rgb(0 0 0 / 50%) 20%,
            rgb(0 0 0 / 70%) 100%
        );
        backdrop-filter: blur(0.5em);
    }
}

.dialog--hide::backdrop {
    background-color: #000;
}

.dialog__header {
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    flex-flow: row nowrap;
    background-color: #666;
}

.dialog__title {
    margin: 0;
    flex-grow: 1;
}

.dialog__top-actions {
    margin-inline-start: auto;
}
