.night-order__entry {
    margin-inline-start: 0;
    display: grid;
    grid-template-areas:
        "icon name"
        "icon ability";
    grid-template-columns: 10ch auto;
    grid-template-rows: auto 100%;

    &:not(.is-in-play) {
        opacity: 0.6;
    }

    &.is-dead {
        filter: grayscale(1);
        opacity: 0.8;
    }

    & + & {
        border-top: 0.2ch solid #0006;
        padding-top: var(--base-sizing);
    }
}

.night-order__name {
    grid-area: name;
    margin: 0;
}

.night-order__icon {
    grid-area: icon;
    width: 100%;
    height: auto;
}

.night-order__ability {
    grid-area: ability;
    margin: 0;
}
