@use "../objects/circle";
@use "../objects/tower";

@property --role-token-background-colour { syntax: '<color>'; initial-value: #fff; inherits: true; }
@property --role-token-edge-colour { syntax: '<color>'; initial-value: #666; inherits: true; }

.role-token {
    @extend %o-circle;
    @extend %o-tower;

    // --no-leaf: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
    // --top-leaf: var(--no-leaf);
    // --left-leaf: var(--no-leaf);
    // --right-leaf: var(--no-leaf);
    // --setup-leaf: var(--no-leaf);

    --role-token-edge-colour: #8a4d0f;
    --role-token-background-colour: color-mix(in oklab, var(--role-token-edge-colour) 20%, white);

    border: none;
    width: 100%;
    background-color: var(--role-token-background-colour);
    background-image:
        radial-gradient(
            ellipse at center,
            rgb(from var(--role-token-edge-colour) r g b / 0) 50%,
            var(--role-token-edge-colour) 100%,
        ),
        url("/assets/images/role-background.svg"),
        url("/assets/images/role-noise.webp");
    background-repeat:
        no-repeat,
        no-repeat,
        repeat;
    background-size:
        100%,
        75%,
        auto;
    background-position: center;
}

.role-token--reminder {
    --role-token-background-colour: #bec0fb;
    --role-token-edge-colour: #454a99;
    background-image:
        radial-gradient(
            ellipse at center,
            var(--role-token-background-colour) 50%,
            var(--role-token-edge-colour) 100%,
        ),
        url("/assets/images/role-noise.webp");
    background-repeat:
        no-repeat,
        repeat;
    background-size:
        100%,
        auto;
}

.role-token__image {
    display: flex;
    align-items: center;
    justify-content: center;
    transform:
        scale(0.8)
        translateY(-5%);
}

.role-token__icon {
    width: 100%;
    height: 100%;
}

.role-token__text {
    font-family: var(--font-family-serif);
    letter-spacing: 0.1em;

    @at-root {
        .role-token--reminder & {
            font-family: var(--font-family-sans-serif);
        }
    }
}

.role-token__leaves {
    @extend %o-circle;

    position: relative;
    overflow: hidden;
}

.role-token__leaf {
    background-image: url("/assets/images/role-leaf.svg");
    background-repeat: no-repeat;
    background-size: contain;
    offset-distance: calc(75% + (var(--rotation-value, 0) * 5%));
    offset-path: circle(45% at center);
    offset-rotate: 0deg;
    position: absolute;
    aspect-ratio: 1;
    width: 25%;
    transform: rotate(calc(180deg + (var(--rotation-value, 0) * 18deg)))
}

.role-token__reminders {
    &:where(:has(> :last-child:nth-child(2))),
    &:where(:has(> :last-child:nth-child(4))),
    &:where(:has(> :last-child:nth-child(6))) {
        --rotation-offset: 0.5;
    }
}

.role-token__leaf--first { --rotation-value: -5; }
.role-token__leaf--other { --rotation-value: 5; }
.role-token__leaf--reminder-1 { --rotation-value: calc( 0 + var(--rotation-offset, 0)); }
.role-token__leaf--reminder-2 { --rotation-value: calc(-1 + var(--rotation-offset, 0)); }
.role-token__leaf--reminder-3 { --rotation-value: calc( 1 + var(--rotation-offset, 0)); }
.role-token__leaf--reminder-4 { --rotation-value: calc(-2 + var(--rotation-offset, 0)); }
.role-token__leaf--reminder-5 { --rotation-value: calc( 2 + var(--rotation-offset, 0)); }
.role-token__leaf--reminder-6 { --rotation-value: calc(-3 + var(--rotation-offset, 0)); }
.role-token__leaf--setup {
    --rotation-value: 8;
    background-image: url("/assets/images/role-setup.svg");
    width: 30%;
}

/*
.role-token__first,
.role-token__other,
.role-token__reminder,
.role-token__setup {
    background-repeat: no-repeat;
    background-size: contain;
    offset-path: circle(45% at center);
    offset-rotate: 0deg;
    position: absolute;
    aspect-ratio: 1;
}

.role-token__first,
.role-token__other,
.role-token__reminder {
    background-image: url("/assets/images/role-leaf.svg");
    width: 25%;
}

.role-token__first {
    offset-distance: 250%;
    transform: rotate(90deg);
}

.role-token__other {
    offset-distance: 0%;
    transform: rotate(-90deg);
}

.role-token__reminders {
    &:where(:has(> :last-child:nth-child(2))),
    &:where(:has(> :last-child:nth-child(4))),
    &:where(:has(> :last-child:nth-child(6))) {
        --rotation-offset: 0.5;
    }
}

.role-token__reminder {
    --rotation-value: 0;
    offset-distance: calc(75% + (var(--rotation-value, 0) * 5%));
    transform: rotate(calc(180deg + (var(--rotation-value, 0) * 18deg)))
}

.role-token__reminder--1 { --rotation-value: calc( 0 + var(--rotation-offset, 0)); }
.role-token__reminder--2 { --rotation-value: calc(-1 + var(--rotation-offset, 0)); }
.role-token__reminder--3 { --rotation-value: calc( 1 + var(--rotation-offset, 0)); }
.role-token__reminder--4 { --rotation-value: calc(-2 + var(--rotation-offset, 0)); }
.role-token__reminder--5 { --rotation-value: calc( 2 + var(--rotation-offset, 0)); }
.role-token__reminder--6 { --rotation-value: calc(-3 + var(--rotation-offset, 0)); }

// --rotation-value: first = -5, other = 5

.role-token__setup {
    background-image: url("/assets/images/role-setup.svg");
    offset-distance: 12.5%;
    transform: rotate(-45deg);
    width: 30%;
}
    */

/*

.role-token {
    // width: 60px;
    aspect-ratio: 1 / 1;
    border: none;
    // padding: 0;
    border-radius: 50%;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // font-family: inherit;
    // font-size: inherit;
    // line-height: inherit;
    // transform-origin: 0 0;

    // &[data-token="character"] {
        // width: clamp(50px, 100vw / 6, 150px); // NOTE: This should just be 100%
        width: 100%;
        // transform: scale(var(--token-size, 1));
    // }

    // &[data-token="reminder"] {
    //     width: clamp(55px, 100vw / 9, 125px);
    //     transform: scale(var(--reminder-size, 1));
    // }

    // &[aria-disabled="true"],
    // &[disabled] {
    //     opacity: 0.7;

    //     > .character {
    //         --shadow-amount: 0;
    //     }
    // }

    // &.is-orphan {
    //     box-shadow: 0 0 15px red;

    //     @media (prefers-reduced-motion: no-preference) {
    //         animation: orphan 1s infinite alternate;
    //     }

    // }
}

.role-token {
    // border-radius: 50%;
    display: grid;
    // width: 100%;
    // aspect-ratio: 1 / 1;
}

.role-token {
    --no-leaf: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
    --top-leaf: var(--no-leaf);
    --left-leaf: var(--no-leaf);
    --right-leaf: var(--no-leaf);
    --setup-leaf: var(--no-leaf);
    // --reminder-offset: 2.5%;
    // --shadow-offset: 0.1em;
    // --shadow-rotation: 1;
    // --shadow-amount: calc(var(--shadow-offset) * var(--shadow-rotation));

    background-color: #fffef0;
    // background-image:
    //     var(--left-leaf),
    //     var(--top-leaf),
    //     var(--right-leaf),
    //     var(--setup-leaf),
    //     url("/assets/token/role-background.svg"),
    //     url("/assets/token/role-noise.webp");
    // background-position: 50% 50%;
    // background-repeat:
    //     no-repeat, 
    //     no-repeat,
    //     no-repeat,
    //     no-repeat,
    //     no-repeat,
    //     repeat;
    // background-size:
    //     contain,
    //     contain,
    //     contain,
    //     contain,
    //     100%,
    //     auto;
    // box-shadow:
    //     inset 0.1em 0.1em 0.2em rgb(255 255 255 / 0.2),
    //     inset 0 0 0.7em #8a4d0f,
    //     var(--shadow-amount) var(--shadow-amount) 0.2em rgb(0 0 0 / 0.8);
    // box-shadow:
    //     inset 0.2em 0.2em 0.4em rgb(255 255 255 / 0.2),
    //     inset 0 0 1.5em #8a4d0f;
    background-image:
        radial-gradient(
            ellipse at center,
            rgb(from #8a4d0f r g b / 0) 50%,
            #8a4d0f 100%,
        );

    // &.is-upside-down {
    //     --shadow-rotation: -1;
    //     transform: rotate(180deg);
    // }

    // &.is-dead {
    //     filter: grayscale(1) brightness(0.8);
    // }

    // &[data-top="1"]      { --top-leaf: url("/assets/token/top-1.webp"); }
    // &[data-top="2"]      { --top-leaf: url("/assets/token/top-2.webp"); }
    // &[data-top="3"]      { --top-leaf: url("/assets/token/top-3.webp"); }
    // &[data-top="4"]      { --top-leaf: url("/assets/token/top-4.webp"); }
    // &[data-top="5"]      { --top-leaf: url("/assets/token/top-5.webp"); }
    // &[data-top="6"]      { --top-leaf: url("/assets/token/top-6.webp"); }
    // &[data-first="true"] { --left-leaf: url("/assets/token/left-1.webp"); }
    // &[data-other="true"] { --right-leaf: url("/assets/token/right-1.webp"); }
    // &[data-setup="true"] { --setup-leaf: url("/assets/token/setup.webp"); }

}

.role-token__image,
.role-token__text {
    grid-area: 1 / -1;
    z-index: 1;
}

.role-token__image {
    display: flex;
    align-items: center;
    justify-content: center;
    transform:
        scale(0.8)
        translateY(-5%);
}

.role-token__image--fabled {
    filter: drop-shadow(0 0 0.5em #8a4d0f);
}

.role-token__icon {
    width: 100%;
    height: 100%;
}

//*/
