@use "../objects/circle";
@use "../objects/tower";

@property --role-token-background-colour { syntax: "<color>"; initial-value: #fff; inherits: true; }
@property --role-token-edge-colour { syntax: "<color>"; initial-value: #666; inherits: true; }
@property --role-token-rotation-value { syntax: "<number>"; initial-value: 0; inherits: true; }
@property --role-token-rotation-offset { syntax: "<number>"; initial-value: 0; inherits: true; }
@property --role-token-rotation-points { syntax: "<number>"; initial-value: 40; inherits: true; }

@keyframes role-is-orphan {
    100% {
        box-shadow: 0 0 0 var(--colour-evil-team);
    }
}

.role-token {
    @extend %o-circle;
    @extend %o-tower;

    --role-token-edge-colour: #8a4d0f;
    --role-token-background-colour: color-mix(in oklab, var(--role-token-edge-colour) 20%, white);

    border: none;
    width: 100%;
    background-color: var(--role-token-background-colour);
    background-image:
        radial-gradient(
            ellipse at center,
            rgb(from var(--role-token-edge-colour) r g b / 0) 50%,
            var(--role-token-edge-colour) 100%,
        ),
        url("/assets/images/role-background.svg"),
        url("/assets/images/role-noise.webp");
    background-repeat:
        no-repeat,
        no-repeat,
        repeat;
    background-size:
        100%,
        75%,
        auto;
    background-position: center;

    &.is-orphan {
        box-shadow: 0 0 var(--sizing-md) var(--colour-evil-team);

        @media (prefers-reduced-motion: no-preference) {
            animation: role-is-orphan 1s infinite alternate;
        }
    }
}

.role-token--reminder {
    --role-token-background-colour: #bec0fb;
    --role-token-edge-colour: #454a99;
    background-image:
        radial-gradient(
            ellipse at center,
            var(--role-token-background-colour) 50%,
            var(--role-token-edge-colour) 100%,
        ),
        url("/assets/images/role-noise.webp");
    background-repeat:
        no-repeat,
        repeat;
    background-size:
        100%,
        auto;
}

.role-token__image {
    display: flex;
    align-items: center;
    justify-content: center;
    transform:
        scale(0.8)
        translateY(-5%);
}

.role-token__icon {
    width: 100%;
    height: 100%;
}

.role-token__text {
    font-family: var(--font-family-serif);
    letter-spacing: 0.1em;

    @at-root {
        .role-token--reminder & {
            font-family: var(--font-family-sans-serif);
        }
    }
}

.role-token__leaves {
    @extend %o-circle;

    position: relative;
    overflow: hidden;
    opacity: 0.7;
}

.role-token__leaf {
    --role-token-rotation-points: 40;
    --role-token-rotation-offset: 0;
    --role-token-rotation-value: 0;

    background-image: url("/assets/images/role-leaf-2.svg");
    background-repeat: no-repeat;
    background-size: contain;
    offset-distance: calc(75% + (var(--role-token-rotation-value, 0) * (100% / var(--role-token-rotation-points))));
    offset-path: circle(45% at center);
    offset-rotate: 0deg;
    position: absolute;
    aspect-ratio: 1;
    width: 25%;
    transform: rotate(calc(180deg + (var(--role-token-rotation-value, 0) * (360deg / var(--role-token-rotation-points)))));
}

.role-token__reminders {
    &:where(:has(> :last-child:nth-child(2))),
    &:where(:has(> :last-child:nth-child(4))),
    &:where(:has(> :last-child:nth-child(6))) {
        --role-token-rotation-offset: 0.5;
    }
}

.role-token__leaf--first { --role-token-rotation-value: calc(var(--role-token-rotation-points) / -4); }
.role-token__leaf--other { --role-token-rotation-value: calc(var(--role-token-rotation-points) / 4); }
.role-token__leaf--reminder-1 { --role-token-rotation-value: calc( 0 + var(--role-token-rotation-offset)); }
.role-token__leaf--reminder-2 { --role-token-rotation-value: calc(-1 + var(--role-token-rotation-offset)); }
.role-token__leaf--reminder-3 { --role-token-rotation-value: calc( 1 + var(--role-token-rotation-offset)); }
.role-token__leaf--reminder-4 { --role-token-rotation-value: calc(-2 + var(--role-token-rotation-offset)); }
.role-token__leaf--reminder-5 { --role-token-rotation-value: calc( 2 + var(--role-token-rotation-offset)); }
.role-token__leaf--reminder-6 { --role-token-rotation-value: calc(-3 + var(--role-token-rotation-offset)); }
.role-token__leaf--setup {
    --role-token-rotation-value: calc(var(--role-token-rotation-points) / 2.5);
    background-image: url("/assets/images/role-setup.svg");
    width: 30%;
}
