details {
    margin-block: var(--base-sizing);
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
    display: list-item;

    // @at-root {
    //     :where(details[open]) > & {
    //         margin-bottom: var(--base-sizing);
    //     }
    // }
}

dialog {
    border-width: var(--border-width);
    padding: var(--base-sizing);
}
