@property --p-derived-background { syntax: "<color>"; initial-value: #000; inherits: true; }
@property --p-derived-colour { syntax: "<color>"; initial-value: #fff; inherits: true; }

/**
 * Change the text colour from black to white, depending on how dark the
 * foreground colour is.
 *
 * How to use
 * ----------
 *
 * - Extend %derived
 * - Set `--derived-background` to the background colour
 * - Set `color` to `var(--derived-colour)`
 *
 * How it works
 * ------------
 *
 * Using the formula described here:
 * https://css-tricks.com/approximating-contrast-color-with-other-css-features/
 *
 * The formula is based on WCAG 2.2 and should be a good approximation of the
 * future CSS function `contrast-color()`.
 * https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/color_value/contrast-color
 */

%p-derived,
.p-derived {
    --p-derived-background: #0000;
    --p-derived-colour: rgb(from var(--p-derived-background)
        round(173.178 - 48.705 * pow(r / 255 + .055, 2.4) - 163.863 * pow(g / 255 + .055, 2.4) - 16.5495 * pow(b / 255 + .055, 2.4), 255)
        round(173.178 - 48.705 * pow(r / 255 + .055, 2.4) - 163.863 * pow(g / 255 + .055, 2.4) - 16.5495 * pow(b / 255 + .055, 2.4), 255)
        round(173.178 - 48.705 * pow(r / 255 + .055, 2.4) - 163.863 * pow(g / 255 + .055, 2.4) - 16.5495 * pow(b / 255 + .055, 2.4), 255)
    );
}
